.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    background-color: rgba(255, 255, 255, 0.935);
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.form__fieldset {
    padding: 10px;
    margin: 10px 0;
    border: none;
}

.form__legend {
    display: inline-block;
    padding: 10px;
    align-items: center;
    max-width: 300px;
    width: 100%;
    font-weight: bold;
    font-size: 140%;
    margin: 0;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    background-color: white;
}

.form__field:hover {
    background-color: rgb(246, 246, 246);
}

.form__button {
    width: 100%;
    max-width: 200px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    background-color: hsl(0, 0%, 100%);
    color:black;
    border: 1px solid rgb(0, 0, 0);
}

.form__button:hover {
    background-color: hsl(120, 100%, 84%);
}

.form__button:active {
    background-color: hsl(120, 100%, 71%);
}

.form__button--clear {
    background-color: hsl(0, 0%, 0%);
    color:white;
}

.form__button--clear:hover {
    background-color: hsl(0, 100%, 23%);
}

.form__button--clear:active {
    background-color: hsl(0, 100%, 43%);
}

.form__footer {
    margin: 15px;
    font-size: 15px;
}

@media (max-width: 767px) {
    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -49%);
        background-color: rgba(255, 255, 255, 0.935);
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    .form__fieldset {
        padding: 10px;
        margin: 10px 0;
        border: none;
    }

    .form__legend {
        display: inline-block;
        padding: 10px;
        align-items: center;
        max-width: 300px;
        width: 100%;
        font-weight: bold;
        font-size: 140%;
        margin: 0;
    }

    .form__labelText {
        width: 100%;
        max-width: 200px;
        display: inline-block;
        margin-right: 5px;
        padding: 10px;
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .form__field {
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        max-width: 200px;
        background-color: white;
    }

    .form__field:hover {
        background-color: rgb(246, 246, 246);
    }

    .form__button {
        width: 100%;
        max-width: 200px;
        border: none;
        padding: 10px;
        margin-top: 10px;
        background-color: hsl(0, 0%, 100%);
        color:black;
        border: 1px solid rgb(0, 0, 0);
    }
    
    .form__button:hover {
        background-color: hsl(120, 100%, 84%);
    }
    
    .form__button:active {
        background-color: hsl(120, 100%, 71%);
    }
    
    .form__button--clear {
        background-color: hsl(0, 0%, 0%);
        color:white;
    }
    
    .form__button--clear:hover {
        background-color: hsl(0, 100%, 23%);
    }
    
    .form__button--clear:active {
        background-color: hsl(0, 100%, 43%);
    }
    
    p {
        margin: 0;
    }

    .form__footer {
        margin: 15px;
        font-size: 13px;
    }
}